.komik {
  width: 100%;
  position: relative;
  transition: all 0.6s ease;
}

#nopalAlone {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  justify-content: start;
  align-items: center;
  height: 50vh;
  margin-top: 135%;
}

#nopal-1 {
  position: absolute;
}
#balon-1 {
  position: absolute;
  top: 105vw;
  right: 29vw;
  width: 65%;
}

#nopalCalvin {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  justify-content: start;
  align-items: end;
  height: 50vh;
}

#nopal-2 {
  width: 100%;

}
#calvin-1 {
  position: absolute;
  top: 46.7vw;
  width: 80%;
}

#nopalSyahrin {
  position: relative;
  height: 47vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
}

#nopal-3 {
  position: absolute;
  width: 100%;
  z-index: 1;
}
#syahrin-1 {
  position: absolute;
  top: 54vw;
  width: 62.7%;
  z-index: 2;
}
