.komik {
  width: 100%;
  position: relative;
  transition: all 0.6s ease;
}

#nopal-1 {
  top: 100vh;
}
#balon-1 {
  top: 95vh;
  width: 68%;
}

#nopalCalvin {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  justify-content: start;
  align-items: end;
  height: 50vh;
  top: 115vh;
}

#nopal-2 {
  width: 100%;

}
#calvin-1 {
  position: absolute;
  top: 46.7vw;
  width: 80%;

}
